
@use 'sass:color';

$text-color: #333;
$black-color: #000;
$border-color: #ccc;
$placeholder-color: #aaa;
$valid-color: #00bfff;
$white-color: #fff;
$error-color: red;
$background-color: #00C4FF;
$gray-color: #F5F5F5;
$input-color: #F0F2F5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* <-- THÊM DÒNG NÀY */
    font-family: sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

//homePage (auth, home)-----------------------------------------------------------------------------

#auth-container {
    width: 100%;
    height: 100dvh;

    position: relative; /* Rất quan trọng: Để ::before có thể định vị tuyệt đối */
    overflow: hidden; /* Ngăn chặn hiệu ứng mờ tràn ra ngoài */

    /* Căn giữa Form rõ nét */
    display: flex;
    justify-content: center;
    align-items: center;
}

#auth-container::before {
    content: ""; /* Bắt buộc phải có */
    
    /* Làm cho ::before lấp đầy toàn bộ #auth-container */
    position: absolute;
    width: 100%;
    height: 100%;

    /* Áp dụng ảnh nền */
    background-image: url('https://res.cloudinary.com/dd0yqxowo/image/upload/v1761819499/loginPage_cgcjfp.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Làm mờ */
    filter: blur(2px); 
    
    /* Đảm bảo ::before nằm dưới phần tử con (#auth-container-form) */
    z-index: -1; 
}

#auth-container-nav {
    width: 900px; /* Điều chỉnh kích thước */
    height: 550px; /* Điều chỉnh kích thước */
    border-radius: 20px;
    background-color: $white-color;
    
    display: flex;
}

.auth-container-nav-form {
    flex: 5.5;
    background-color: $white-color;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.auth-container-nav-img {
    flex: 4.5;
    margin: 18px;
    border-radius: 22px;
    background-image: url('https://res.cloudinary.com/dd0yqxowo/image/upload/v1761819499/loginPage_cgcjfp.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.auth-container-nav-form-auth {
    width: 70%;
    height: 100%;
    background-color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .error-message {
            visibility: hidden;
            color: $error-color;

            &.show {
                visibility: visible;
            }
        }

        h1 {
            margin-bottom: 28px;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .form-wrapper {
                position: relative;
                width: 100%;
                display: flex;

                .icon {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
            }

            span {
                font-size:18px;
                color: $black-color;
            }

            input {
                width: 100%;
                border: none;
                border-bottom: 2px solid;
                outline: none;
                padding: 8px 0;
                font-size: 18px;
                color: $placeholder-color;

                &:focus {
                    border-bottom-color: $valid-color;
                }
            }
        }

        .button {
            margin-top: 28px;
            width: 100%;
            display: flex;
            gap: 8px;
            justify-content: center;
            align-items: center;

            .button-left {
                height: 42px;
                border-radius: 20px;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $background-color;

                &:hover {
                    box-shadow: 0 0 10px 0 $background-color;
                    transition: box-shadow 0.3s ease; /* Chỉ transition box-shadow */
                    cursor: pointer;
                }
            }

            .button-right {
                height: 42px;
                border-radius: 20px;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid $background-color;

                &:hover {
                    box-shadow: 0 0 10px 0 $background-color;
                    transition: box-shadow 0.3s ease; /* Chỉ transition box-shadow */
                    cursor: pointer;
                }
            }
        }
    }
}

//header
#main-header {
    width: 100%;
    background-color: $white-color;
    display: flex;
    align-items: center;
    position: fixed;

    .main-header-left {
        display: flex;
        align-items: center;
        flex: 1;

        .avatar-web-header {
            width: 39px;
            height: 39px;
            margin: 8px 20px;
            border-radius: 50%;
            background-image: url('https://res.cloudinary.com/dd0yqxowo/image/upload/v1761822352/icon_npkjpb.webp');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .input-header {
            background-color: $input-color;
            width: 270px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;

            input {
                border: none;
                background-color: $input-color;
                outline: none;
                font-size: 18px;
                margin-left: 8px;
            }

            .icon {
                font-size: 22px;
            }
        }

    }

    .main-header-center {
        display: flex;
        gap: 6px;
        flex: 1;
        justify-content: center;
        align-items: center;

        .icon-main-header-center {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 110px;
            height: 56px;
            border-radius: 10px;
            margin: 8px;

            .icon {
                font-size: 28px;
            }

            &:hover {
                background-color: $input-color;
                cursor: pointer;
            }

            &.show {
                background-color: rgba($background-color, 0.1);
                color: $background-color;
            }
        }
    }

    .main-header-right {
        display: flex;
        gap: 8px;
        justify-content: end;
        align-items: center;
        flex: 1;

        .chat-main-header-right {
            width: 39px;
            height: 39px;
            border-radius: 50%;
            background-color: $input-color;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: color.adjust($input-color, $lightness: -10%);
                cursor: pointer;
            }
        }

        .avatar-user-header {
            background-image: url('https://res.cloudinary.com/dd0yqxowo/image/upload/v1761823049/user-default_jxnvbw.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 39px;
            height: 39px;
            margin: 8px 20px 8px 0;
            border-radius: 50%;
        }
    }
}

//home-page
#main-layout {
    background-color: $gray-color;
    height: 100vh;
}
