
@use 'sass:color';

$text-color: #333;
$black-color: #000;
$border-color: #ccc;
$placeholder-color: #aaa;
$valid-color: #00bfff;
$white-color: #fff;
$error-color: red;
$background-color: #00C4FF;
$gray-color: #F5F5F5;
$input-color: #F0F2F5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* <-- THÊM DÒNG NÀY */
    font-family: sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

//homePage (auth, home)-----------------------------------------------------------------------------

#auth-container {
    width: 100%;
    height: 100dvh;

    position: relative; /* Rất quan trọng: Để ::before có thể định vị tuyệt đối */
    overflow: hidden; /* Ngăn chặn hiệu ứng mờ tràn ra ngoài */

    /* Căn giữa Form rõ nét */
    display: flex;
    justify-content: center;
    align-items: center;
}

#auth-container::before {
    content: ""; /* Bắt buộc phải có */
    
    /* Làm cho ::before lấp đầy toàn bộ #auth-container */
    position: absolute;
    width: 100%;
    height: 100%;

    /* Áp dụng ảnh nền */
    background-image: url('https://res.cloudinary.com/dd0yqxowo/image/upload/v1761819499/loginPage_cgcjfp.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Làm mờ */
    filter: blur(2px); 
    
    /* Đảm bảo ::before nằm dưới phần tử con (#auth-container-form) */
    z-index: -1; 
}

#auth-container-nav {
    width: 900px; /* Điều chỉnh kích thước */
    height: 550px; /* Điều chỉnh kích thước */
    border-radius: 20px;
    background-color: $white-color;
    
    display: flex;
}

.auth-container-nav-form {
    flex: 5.5;
    background-color: $white-color;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.auth-container-nav-img {
    flex: 4.5;
    margin: 18px;
    border-radius: 22px;
    background-image: url('https://res.cloudinary.com/dd0yqxowo/image/upload/v1761819499/loginPage_cgcjfp.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.auth-container-nav-form-auth {
    width: 70%;
    height: 100%;
    background-color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .error-message {
            visibility: hidden;
            color: $error-color;

            &.show {
                visibility: visible;
            }
        }

        h1 {
            margin-bottom: 28px;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .form-wrapper {
                position: relative;
                width: 100%;
                display: flex;

                .icon {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
            }

            span {
                font-size:18px;
                color: $black-color;
            }

            input {
                width: 100%;
                border: none;
                border-bottom: 2px solid;
                outline: none;
                padding: 8px 0;
                font-size: 18px;
                color: $placeholder-color;

                &:focus {
                    border-bottom-color: $valid-color;
                }
            }
        }

        .button {
            margin-top: 28px;
            width: 100%;
            display: flex;
            gap: 8px;
            justify-content: center;
            align-items: center;

            .button-left {
                height: 42px;
                border-radius: 20px;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $background-color;

                &:hover {
                    box-shadow: 0 0 10px 0 $background-color;
                    transition: box-shadow 0.3s ease; /* Chỉ transition box-shadow */
                    cursor: pointer;
                }
            }

            .button-right {
                height: 42px;
                border-radius: 20px;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid $background-color;

                &:hover {
                    box-shadow: 0 0 10px 0 $background-color;
                    transition: box-shadow 0.3s ease; /* Chỉ transition box-shadow */
                    cursor: pointer;
                }
            }
        }
    }
}

//Home page--------------------------------------------------------------------------------------------------------
//header
#main-header {
    width: 100%;
    background-color: $white-color;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;

    .main-header-left {
        display: flex;
        align-items: center;
        flex: 1;

        .avatar-web-header {
            width: 39px;
            height: 39px;
            margin: 8px 20px;
            border-radius: 50%;
            background-image: url('https://res.cloudinary.com/dd0yqxowo/image/upload/v1761822352/icon_npkjpb.webp');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .input-header {
            background-color: $input-color;
            width: 270px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;

            input {
                border: none;
                background-color: $input-color;
                outline: none;
                font-size: 18px;
                margin-left: 8px;
            }

            .icon {
                font-size: 22px;
            }
        }

    }

    .main-header-center {
        display: flex;
        gap: 6px;
        flex: 1;
        justify-content: center;
        align-items: center;

        .icon-main-header-center {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 110px;
            height: 56px;
            border-radius: 10px;
            margin: 8px;

            .icon {
                font-size: 28px;
            }

            &:hover {
                background-color: $input-color;
                cursor: pointer;
            }

            &.show {
                background-color: rgba($background-color, 0.1);
                color: $background-color;
            }
        }
    }

    .main-header-right {
        display: flex;
        gap: 8px;
        justify-content: end;
        align-items: center;
        flex: 1;

        .chat-main-header-right {
            width: 39px;
            height: 39px;
            border-radius: 50%;
            background-color: $input-color;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: color.adjust($input-color, $lightness: -10%);
                cursor: pointer;
            }
        }

        .avatar-user-header {
            background-image: url('https://res.cloudinary.com/dd0yqxowo/image/upload/v1761823049/user-default_jxnvbw.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 39px;
            height: 39px;
            margin: 8px 20px 8px 0;
            border-radius: 50%;
        }
    }
}

//main layout
#main-layout {
    background-color: $gray-color;
    min-height: 100vh;
}

#main-layout-home {
    display: grid;
    grid-template-columns: 310px 1fr 310px;
    gap: 60px;
    margin: 20px 20px 0;

    .main-layout-home-left,
    .main-layout-home-center, 
    .main-layout-home-right {
        border-radius: 20px;
        overflow-y: auto;
    }

    .main-layout-home-center {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

//Post Composer

#post-composer {
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white-color;
    gap: 10px;

    .avatar-post-composer {
        background-image: url('https://res.cloudinary.com/dd0yqxowo/image/upload/v1761823049/user-default_jxnvbw.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        margin: 20px 0 20px 20px;
    }

    .input-post-composer {
        flex: 1;
        margin: 20px;
        background-color: $input-color;
        height: 60%;
        margin: 20px 20px 20px 0;
        border-radius: 20px;
        display: flex;
        align-items: center;

        p {
            margin-left: 20px;
            font-size: 120%;
            color: $placeholder-color;
        }

        &:hover {
            background-color: color.adjust($input-color, $lightness: -3%);
            cursor: pointer;
        }
    }
}

//post

#post {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: $white-color;

    .post-header {
        display: flex;
        align-items: center;

        .post-header-left {
            flex: 1;
            display: flex;

            p {
                margin-top: 20px;
            }

            .avatar-post-header {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 39px;
                height: 39px;
                border-radius: 50%;
                margin: 20px;
            }
        }

        .post-header-right {
            flex: 1;
            display: flex;
            justify-content: end;

            .icon {
                margin: 20px;
            }
        }

    }

    .post-content {

        p {
            margin: 0 20px 20px;
        }

        .image {
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .post-interact-show {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }

    .post-divider {
        border: none; /* Xóa style mặc định của trình duyệt */
        border-top: 1px solid #e0e0e0; /* Tạo đường gạch 1px, màu xám nhạt */
    }

    .post-interact {
        display: flex;
        margin: 20px;
        gap: 20px;

        .post-interact-like, 
        .post-interact-comment {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            height: 30px;
            border-radius: 20px;
            gap: 6px;

            &:hover {
                cursor: pointer;
                background-color: color.adjust($input-color, $lightness: -3%);
            }
        }
    }
}

//home post

.home-post {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    /* THÊM DÒNG NÀY ĐỂ TẠO HIỆU ỨNG MỜ */
    backdrop-filter: blur(2px);

    .home-post-container {
        width: 30%;
        background-color: $input-color;
        border-radius: 20px;
        font-size: 18px;

        .home-post-header {
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .icon {
                background-color: $white-color;
                font-size: 30px;
                border-radius: 20px;
                position: absolute;
                right: 8px;

                &:hover {
                    cursor: pointer;
                    background-color: color.adjust($white-color, $lightness: -2%);
                }
            }
        }

        .line {
            height: 2px;
            background-color: rgb(176, 179, 184);
        }
        
        .home-post-main {
            display: flex;
            flex-direction: column;

            .home-post-main-header {
                display: flex;
                gap: 8px;
                margin: 10px;

                img {
                    width: 30px;
                    height: 30px;
                    
                    // Sửa ở đây: Dùng object-fit cho thẻ <img>
                    object-fit: cover; 
                    
                    // Thêm cái này để làm tròn avatar
                    border-radius: 50%;
                }
            }

            .home-post-main-area {
                display: flex;

                textarea {
                    width: 100%;
                    height: 100px;
                    font-size: 30px;
                    border: none;
                    outline: none;
                    margin: 0 10px;
                    background-color: $input-color;
                }
            }
            
            .home-post-main-preview-img {
                display: flex;
                flex-direction: column;
                margin: 10px;
                height: 200px;
                overflow-y: auto;
                gap: 8px;
            }

            .home-post-main-img {
                margin: 10px;
                border: 1px solid $black-color;
                height: 60px;
                border-radius: 20px;
                display: flex;
                align-items: center;

                input {
                    display: none;
                }

                .icon {
                    width: 39px;
                    height: 39px;
                    padding: 5px;
                    border-radius: 50%;
                    margin: auto 20px;

                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 2px 12px $background-color;
                    }
                }
            }

            .home-post-main-button {
                height: 39px;
                background-color: $background-color;
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;

                &:hover {
                    cursor: pointer;
                    background-color: color.adjust($background-color, $lightness: -2%);
                }
            }
        }
    }
}

//home comment
.home-comment {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    /* THÊM DÒNG NÀY ĐỂ TẠO HIỆU ỨNG MỜ */
    backdrop-filter: blur(2px);

    .home-comment-container {
        width: 50%;
        max-height: 90%;
        background-color: $white-color;
        border-radius: 20px;

        .home-comment-header {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            font-size: 26px;

            p {
                margin: 18px 0;
            }

            .icon {
                background-color: $white-color;
                font-size: 30px;
                border-radius: 20px;
                position: absolute;
                right: 8px;

                &:hover {
                    cursor: pointer;
                    background-color: color.adjust($white-color, $lightness: -2%);
                }
            }
        }

        .line {
            border: none; /* Xóa style mặc định của trình duyệt */
            border-top: 1px solid #e0e0e0; /* Tạo đường gạch 1px, màu xám nhạt */
        }

        .home-comment-main {
            overflow-y: auto;
            height: 500px;
            
            .home-comment-content {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin: 8px 20px 0;

                .comment {
                    display: flex;
                    gap: 8px;
                    justify-content: center;

                    img {
                        width: 30px;
                        height: 30px;
                        
                        // Sửa ở đây: Dùng object-fit cho thẻ <img>
                        object-fit: cover; 
                        
                        // Thêm cái này để làm tròn avatar
                        border-radius: 50%;
                    }

                    .comment-data {
                        display: flex;
                        overflow-wrap: break-word;
                        flex-direction: column;
                        background-color: $input-color;
                        width: 96%;
                        border-radius: 20px;

                        .data {
                            margin: 8px 0 8px 12px;
                            font-size: 18px;

                            p:first-child{
                                font-size: 15px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }

        .home-comment-footer {
            display: flex;
            margin: 10px 0;
            justify-content: center;
            gap: 8px;

            img {
                width: 30px;
                height: 30px;
                
                // Sửa ở đây: Dùng object-fit cho thẻ <img>
                object-fit: cover; 
                
                // Thêm cái này để làm tròn avatar
                border-radius: 50%;
            }

            .home-comment-footer-content {
                width: 88%;
                background-color: $input-color;
                border-radius: 20px;
                display: flex;

                textarea {
                    margin: 12px;
                    width: 90%;
                    border: none;
                    outline: none;
                    background-color: $input-color;
                    font-size: 18px;
                    resize: none;
                }

                .icon {
                    margin: 6px auto 0;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}
